 
 .main-header{
    width: 100%;
    height: 110px;
     z-index: 101;
     background-color: beige;
     font-size: 23px;
     font-family: segoe print;
     text-align: center;
     margin-top:  -8px;
}







.paisesmasglobalizados{
background-color: beige;
 margin: auto;
 text-align: center;
 padding-top: 15px;

}

 .menu ul{
     padding: 0;
     margin: 0;
     list-style: none;
     display: inline-flex;
      text-align: center ;
 }

 .menu li{
    padding-top: 15px;
    padding-left: 30px;

}

.menu li a:hover{
    color: red;
    text-decoration: overline;

}

.menu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    
}